<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="email=no" name="format-detection"/>
	<meta content="telephone=no" name="format-detection"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="../dist/js/fui.flexible.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../dist/css/fui.min.css"/>
	<title>fui</title>
</head>
<body>
    <a href="javascript:;">按钮</a>
    div sdsad
    
</body>
</html>
