/**
 * ------------------------------------------
 * variable for ui
 * @version  1.0
 * @author   henry
 * ------------------------------------------
 */

//** Gray 灰色
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 55%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

//** Theme 主题颜色
@theme-color:            #0090e6;
@theme-color-darker:     lighten(@theme-color, 13.5%);
@theme-color-deeper:     #101348;

//** Font 字体相关变量
//字体系列
@font-family: "微软雅黑";
//字体大小
@font-size-base:         .24rem;
@font-size-small:        .2rem;
@font-size-large:        .28rem;
@font-size-superlarge:   .32rem;
//颜色
@font-color-base:        @gray-light;
@font-color-deeper:      @gray-dark;
@font-color-theme:       @theme-color;
@font-color-white:       #FFF;

//** Padding 内边距
@padding-base:           .25rem;

//** Border 边框
@border-color-base:      @gray-light;
@border-weight-base:     1px;

//** BorderRadius 边框圆角
@border-radius-base:     5px;    