<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="email=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../../dist/js/fui.flexible.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../../dist/css/fui.min.css"/>
    <title>fui-grid</title>
</head>
<body>
    <h1>网格</h1>
    <h3 class="f-tc">占一行</h3>
    <div class="g-grid g-grid-1">
        <a href="javascript:;" class="g-grid-item">1</a>
        <a href="javascript:;" class="g-grid-item">1</a>
        <a href="javascript:;" class="g-grid-item">1</a>
    </div>
    <h3 class="f-tc">等分两列</h3>
    <div class="g-grid g-grid-2">
        <a href="javascript:;" class="g-grid-item">2</a>
        <a href="javascript:;" class="g-grid-item">2</a>
    </div>
    <h3 class="f-tc">等分三列</h3>
    <div class="g-grid g-grid-3">
        <a href="javascript:;" class="g-grid-item">3</a>
        <a href="javascript:;" class="g-grid-item">3</a>
        <a href="javascript:;" class="g-grid-item">3</a>
    </div>
    <h3 class="f-tc">等分四列</h3>
    <div class="g-grid g-grid-4">
        <a href="javascript:;" class="g-grid-item">4</a>
        <a href="javascript:;" class="g-grid-item">4</a>
        <a href="javascript:;" class="g-grid-item">4</a>
        <a href="javascript:;" class="g-grid-item">4</a>
    </div>
    <h3 class="f-tc">等分五列</h3>
    <div class="g-grid g-grid-5">
        <a href="javascript:;" class="g-grid-item">5</a>
        <a href="javascript:;" class="g-grid-item">5</a>
        <a href="javascript:;" class="g-grid-item">5</a>
        <a href="javascript:;" class="g-grid-item">5</a>
        <a href="javascript:;" class="g-grid-item">5</a>
    </div>
    <h3 class="f-tc">等分六列</h3>
    <div class="g-grid g-grid-6">
        <a href="javascript:;" class="g-grid-item">6</a>
        <a href="javascript:;" class="g-grid-item">6</a>
        <a href="javascript:;" class="g-grid-item">6</a>
        <a href="javascript:;" class="g-grid-item">6</a>
        <a href="javascript:;" class="g-grid-item">6</a>
        <a href="javascript:;" class="g-grid-item">6</a>
    </div>
    <h1>栅格</h1>
    <div class="g-row">
        <a href="javascript:;" class="g-column-1">1</a>
        <div class="g-column-9">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</div>
    </div>
    <div class="g-row">
        <a href="javascript:;" class="g-column-2">2</a>
    </div>
    <div class="g-row">
        <a href="javascript:;" class="g-column-3">3</a>
    </div>
    <div class="g-row">
        <a href="javascript:;" class="g-column-4">4</a>
    </div>
    <div class="g-row">
        <a href="javascript:;" class="g-column-5">5</a>
    </div>
    <div class="g-row">
        <a href="javascript:;" class="g-column-6">6</a>
    </div>
    <div class="g-row">
        <a href="javascript:;" class="g-column-7">7</a>
    </div>
    <div class="g-row">
        <a href="javascript:;" class="g-column-8">8</a>
    </div>
    <div class="g-row">
        <a href="javascript:;" class="g-column-9">9</a>
    </div>
    <div class="g-row">
        <a href="javascript:;" class="g-column-10">10</a>
    </div>
</body>
</html>
